<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>{{ title }}</h2>
    <form [formGroup]="addProductForm" (ngSubmit)="onSaveProduct()">
      <div class="form-group">
        <label for="name">Nom produit</label>
        <input type="text" id="name" class="form-control" formControlName="name">
      </div>
      <div *ngIf="name.invalid && name.erros && name.errors.maxlength" class="alert alert-danger">
        Le nom du produit ne peut pas avoir plus de 25 caractères.
        {{ addProductForm.errors }}
      </div>
      <div class="form-group">
        <label for="price">Prix</label>
        <input type="number" id="price" class="form-control" formControlName="price">
      </div>
      <div *ngIf="addProductForm.invalid && addProductForm.errors && addProductForm.errors.priceGreaterThanPurchasePrice" 
            class="alert alert-danger">
        Le prix doit être plus grand ou égal au prix d'achat.
      </div>
      <div class="form-group">
        <label for="purchasePrice">Prix d'achat</label>
        <input type="number" id="purchasePrice" class="form-control" formControlName="purchasePrice">
      </div>
      <button class="btn btn-success" [disabled]="addProductForm.invalid" type="submit">Enrégistrer</button>&nbsp;
      <button class="btn btn-danger" type="button" (click)="onBack()">Annuler</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div>